@use '@angular/material' as mat;


.container {
    display: flex;
    
    .sign-up {
        padding: 0px 18px 0px;
        cursor: pointer;
        color: #666;
        margin: auto;
        font-size: large;
    }

    .sign-up:hover {
        color: red;
        font-weight: 500;
    }

    .login {
        @include mat.button-overrides((
            outlined-outline-color: rgb(255, 67, 67),
            outlined-label-text-color: rgb(255, 67, 67),
            outlined-ripple-color: rgb(255, 67, 67),
            outlined-state-layer-color: rgb(255, 67, 67),
            outlined-outline-width: 4px,
            outlined-horizontal-padding: 40px
        ));

        padding: 0px 18px 0px;
        cursor: pointer;
        color: white;
    }
}